# 忽略所有临时文件
*.tmp
*.log
*.o
*.d
*.y
*.a
*.so
test.c
test

# 忽略编译生成的目录
build/
dist/

# vim
*.sw[a-z]
*.un~
Session.vim

# make file
.*
!.gitignore
*~
core
*.ko
*.mod.c
Module.symvers
modules.order
*.mod

# misc-progs
nbtest 
load50 
mapcmp 
polltest 
mapper 
setlevel 
setconsole 
inp 
outp
datasize
dataalign
netifdebug
asynctest

# Allows for Eclipse CDT lookups without checking in linux source
linux_source_cdt
!.project
!.cproject